<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <div class="indexTopBar">
    <img src="img/SE-GitHub-image.png" alt="Huskie code logo" />
    <h1>Edit Data</h1>
  </div>
  <div class="box">
    <label class="selector">
      Select Course:
      <select id="coursePicker">
        <% for(let course of courses) { %>
        <option value="<%= course.name %>"><%= course.name %></option>
        <% } %>
        <option value="addCourse">Add Course</option>
      </select>
    </label>

    <label class="selector">
      Course Name: <textarea id="courseName">Course Name</textarea>
    </label>

    <label class="selector">
      Number of Sections: <input id="courseSections" type="number" min="1" />
    </label>

    <form class="selector" id="coursePeriods">
      <label>Avaliable Periods:</label>
      <% for(let i=1; i <= 8; i++) { %>
        <input name="periodSelector" type="checkbox" id="<%= i %>" />
        <label for="<%= i %>">Period <%= i %></label>
      <% } %>
    </form>
  </div>
</main>
<!-- /Main Site -->

<script src="/js/courseEdit.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
