<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <div class="indexTopBar">
    <img src="img/SE-GitHub-image.png" alt="Huskie code logo" />
    <h1>Edit Data</h1>
  </div>
  <div class="box">
    <label class="selector">
      Select Course:
      <select id="coursePicker">
        <% for(let course of courses) { %>
        <option value="<%= course.name %>"><%= course.name %></option>
        <% } %>
        <option value="addCourse">Add Course</option>
      </select>
    </label>
  </div>
  <div class="box">
    <label class="selector">
      Course Name: <textarea id="namer">Course Name</textarea>
    </label>

    <label class="selector">
      Number of Sections: <input id="sectionSelector" type="number" min="1" />
    </label>

    <div class="selector" id="coursePeriods">
      <label>Avaliable Periods:</label>
      <% for(let i=1; i <= 8; i++) { %>
        <input type="checkbox" id="<%= 'Period ' + i %>" />
        <label for="<%= 'Period ' + i %>">Period <%= i %></label>
      <% } %>
    </div>

    <div class = "selector">
      <input type="checkbox" id="priorityOverrideEnabler" /><label>Hard Coded Priority</label>

      <div id="sectionSelectorDiv" class="">
        <label class="selector">
        Overridden Priority: <input id="prioritySelector" type="number" min="0" max="1"/>
        </label>    
      </div>
    </div>
    <a role="button">Save</a>
  </div>
</main>
<!-- /Main Site -->

<script src="/js/coursesEdit.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
