<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <div class="indexTopBar">
    <img src="img/SE-GitHub-image.png" alt="Huskie code logo" />
    <h1>Data</h1>
  </div>
  <div class="box flexBox">
    <div class="box2 flexItem">
      <h1>Classrooms</h1>
      <div class="scrollSelector" style="max-height: 500px; min-height: 500px">
      <% for(let i=0; i < classrooms.length; i++) { %>
        <button class="collapsible"><%= classrooms[i].roomNum %></button>
        <div class="contentCollapsible">
          Periods Available: <%= classrooms[i].periodsAvailable %>
        </div>
      <% } %>
      </div>
      <div class="buttonHolder">
        <a href="/classroomsEdit" role="button" class="box" style="margin: 5px">Edit Classrooms</a>
      </div>
    </div>
    <div class="box2 flexItem">
      <h1>Courses</h1>
      <div class="scrollSelector" style="max-height: 500px; min-height: 500px">
      <% for(let i=0; i < courses.length; i++) { %>
        <button class="collapsible"><%= courses[i].name %></button>
        <div class="contentCollapsible">
          <b>Sections:</b> <%= courses[i].sections %>
          <br/> <b>Compatible Classrooms:</b><%= courses[i].compatibleClassrooms.map((item) => (item = " "+item)) %>
          <br/> <b>Periods:</b><%= courses[i].compatiblePeriods.map((item) => (item = " "+item)) %>
          <% if(courses[i].userPriority !== undefined) { %>
            <br/> <b>Priority:</b> <%= courses[i].userPriority %>
          <% } %>
        </div>
      <% } %>
      </div>
      <div class="buttonHolder">
        <a href="/coursesEdit" role="button" class="box" style="margin: 5px">Edit Courses</a>
      </div>
    </div>
    <div class="box2 flexItem">
      <h1>Teachers</h1>
      <div class="scrollSelector" style="max-height: 500px; min-height: 500px">
      <% for(let i=0; i < teachers.length; i++) { %>
        <button class="collapsible"><%= teachers[i].name %></button>
        <div class="contentCollapsible">
          Hey Guys, teacher here
        </div>
      <% } %>
      </div>
      <div class="buttonHolder">
        <a href="/coursesEdit" role="button" class="box" style="margin: 5px">Edit Teachers</a>
      </div>
    </div>
  </div>
</main>
<!-- /Main Site -->

<script src="/js/dataView.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
